# Visual Studio
.vs/
*.VC.db
*.VC.opendb

# Build folders
x64/
Debug/
Release/

# Build artifacts
*.obj
*.obj.enc
*.pch
*.pdb
*.ilk
*.log
*.ulog
*.ipch
*.lastbuildstate
*.tlog
*.idb

# Generated simulation output
SystemGL/*.txt
data/

# Custom file types
*.sim
*.state