# Environment
.vs/
.vscode/
.idea/

*.suo
*.user
*.userosscache
*.sln.docstates

# OS noise
.DS_Store
Thumbs.db

# Build folders
build/
bin/
out/
x64/
Debug/
Release/
cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt

# Generated runtime output
generated/
output/
*.sim
*.state

# External dependencies
!external/**

# Build artifacts
*.obj
*.obj.enc
*.pch
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate

*.exe
*.dll
*.lib

# Logs
*.log
*.ulog